.THIS {
    font-size: 12pt;
}

.THIS.detail1{
    
}

.THIS.detail2{
    text-decoration: underline;
    font-style:italic;
    font-size: 10pt;
}

.THIS.detail3{
    padding-left:4em;
    font-style:italic;
    font-size: 10pt;
}
.THIS.detail4{
    padding-left:4em;
    font-style:italic;
    font-size: 10pt;
	font-weight: bold;
}